@use "sass:color";
@use "../base/colors";
@use "../base/variables";
@use "../base/typography";
@use "../elements/icons";

// Navbar shoppy
.checkout-card {
	display: grid;
	place-items: center;
	// width: 3rem;
	height: 2.5rem;
	font-size: 1rem;
	color: colors.$primary-main;
	font-weight: 500;
	line-height: 1;
	user-select: none;

	&:hover {
		background: color.scale(colors.$neutral-lighter, $lightness: -5%);
		border: variables.$border solid color.change(colors.$primary-main, $alpha: .25);
	}
}

// End Navbar shoppy

.button {
	display: grid;
	place-items: center;

	min-height: 2.5rem;
	padding: 0.5rem 1.25rem;

	border: variables.$border solid transparent;
	border-radius: variables.$border-radius;

	background: colors.$neutral-light;
	color: colors.$neutral-darker;

	cursor: pointer;
	transition: background 0.15s ease, color 0.15s ease, border-color 0.15s ease;

	@extend %text-medium;

	&:disabled {
		opacity: 0.6;
		cursor: not-allowed;
	}

	&--primary {
		background: colors.$primary-main;
		color: colors.$neutral-lightest;
		border-color: colors.$primary-main;

		&:hover,
		&:focus {
			background: colors.$primary-dark;
			border-color: colors.$primary-dark;
		}
	}

	&--secondary {
		background: colors.$neutral-main;
		color: colors.$neutral-lightest;
		border-color: colors.$neutral-main;

		&:hover,
		&:focus {
			background: colors.$neutral-dark;
			border-color: colors.$neutral-dark;
		}
	}

	/* opcional: botó a 100% d’amplada si el vols ‘block’ */
	&--block {
		width: 100%;
	}
}
